[2017-10-11 06:07] Mimicx opened #1 "Problem when use InputFields with onChange or onChangeText"
Hello guys, i have a problem, the Alert appears when i use TextInput with the onChange or onChangeText event and i try to set the state of that input value.

I guess the problem is not the onChangeText event of the TextInput, maybe when i'm trying to change the value of other states, is like when i'm setting whatever state automatly the showAlert state is changed to true, is so weird.

[2017-10-11 10:23] rishabhbhatia commented on #1
Hi @Mimicx can you share more information or minimal code snippet to replicate the issue.

[2017-10-19 11:03] wff- opened #2 "iPad is not supported ？"
Layout confusion

[2017-10-19 12:47] rishabhbhatia commented on #2
Hi @wff- what's the confusion?

[2017-10-19 12:53] rishabhbhatia commented on #1
@Mimicx Luis I'm closing the inactive issue, if the problem still persist's or there's a bug let me know, I'll be happy to help.

[2017-10-19 12:53] #1 closed

[2017-10-20 01:26] wff- commented on #2
![7087c801-1246-43ef-89a1-0a47e752d93c](https://user-images.githubusercontent.com/8870484/31801159-cf8c15b2-b50b-11e7-8c5c-1ea348bde3fb.png)
![simulator screen shot - ipad air 2 - 2017-10-20 at 09 25 17](https://user-images.githubusercontent.com/8870484/31801148-b2d75350-b50b-11e7-8b05-99b2a3dfa150.png)

[2017-10-20 04:26] rishabhbhatia commented on #2
Hello @wff- alert runs fine on tab. It looks like a layout issue. Can you try the examples in repo on your tab and second paste more code with style so I can help you. If you can share minimal code with tabs and alert that would be super awesome. Make sure alert is the last view in the view hierarchy.

[2017-10-20 05:53] wff- commented on #2
👌  😯  thanks

[2017-10-20 05:53] #2 closed

[2017-10-20 11:56] rishabhbhatia commented on #2
Your welcome @wff- have a good day.

[2018-01-30 14:29] longdw opened #4 "how to change backgroundcolor and textsize progress's size"
hi, thanks for your component.
how to change backgroundcolor, textsize, and progress's size.
I suggest adding the following functions:
1.change textsize and textcolor.
2.change backgroundcolor
3.change progress size

[2018-02-01 07:06] rishabhbhatia commented on #4
@longdw Absolutely I will expose style as props this weekend.

[2018-02-03 15:19] rishabhbhatia commented on #4
@longdw Hi, please update to v1.0.5 and you can pass own styles. Refer [Readme#styling](https://github.com/rishabhbhatia/react-native-awesome-alerts/blob/master/README.md#styling) and [Example](https://github.com/rishabhbhatia/react-native-awesome-alerts/blob/master/examples/App.js) file for code.

[2018-02-03 15:19] #4 closed

[2018-03-09 09:46] danielgindi opened #11 "How about exposing show/hide methods?"
That would be great, if we could actively call show/hide methods, which is basically exposing the `_toggleAlert` or specialized counterparts as public.

Also an "on dismiss" event would be great, so we can know if the alert was dismissed from background etc.

Awesome library. Thank you!

[2018-03-09 12:24] rishabhbhatia commented on #11
Hi Daniel, "show" prop serves the show/hide functionality. To add an "on dismiss" callback is a great addition, I'll take this up as soon as I get time @danielgindi

[2018-03-10 16:14] rishabhbhatia commented on #11
@danielgindi Just released v1.0.7, now get onDismiss event as callback.

[2018-03-10 16:14] #11 closed

[2018-03-10 18:30] danielgindi commented on #11
Amazing thank you! Did not expect that kind of a quick response :-)

[2018-03-21 12:34] MohamadKh75 opened #12 "Use alerts in separate file"
Hi

I'm going to create a separate file myAlert.js and use it in other files to have my customized alerts everywhere! I make myAlert.js file and import it in the main.js

here are my codes:

[code]

## and now myAlert.js:
[code]
the point is, i want to send "showProgress" and "title" to the child so i can have my customized alert every time is call the child method!

but i get errors...

1. where

[2018-03-22 16:42] rishabhbhatia commented on #12
@MohamadKh75 Replied back to your mail and submitted a [PR](https://github.com/MohamadKh75/AdCalc/pull/1). Feel free to ask me anything, hope it helps.

[2018-03-23 13:27] #12 closed

[2018-05-08 22:29] muresanandrei opened #13 "Can't set zIndex to alert"
I have a header with a bigger zIndex than entire content so when you scroll content will be under the header. Because of that when alert shows header is not covered by alert layout.
 I tried setting zIndex style in AwesomeAlert but it doesn't works is there a way to achieve this?

[2018-05-21 19:06] alexsirbu04 commented on #13
You can achieve that result without zIndex.
`<Header />
 <List  />`
In the list component add a ScrollView and map over your items or a FlatList to render them.
`<FlatList
      data={data}
      keyExtractor={item => item.id}
      renderItem={({ item }) => (
        <Item  />
      )}
      showsVerticalScrollIndicator={false}
    />`

[2018-05-21 19:08] alexsirbu04 commented on #13
You can achieve that result without zIndex.
`<Header />
<List  />`
In the list component add a ScrollView and map over your items or a FlatList to render them.
`<FlatList
      data={data}
      keyExtractor={item => item.id}
      renderItem={({ item }) => (
        <Item  />
      )}
      showsVerticalScrollIndicator={false}
    />`

[2018-06-26 04:44] dianazzz opened #14 "Navigation bar is not covered by alert backdrop"
Only the content is covered by the alert backdrop. Even when the alert is shown, I can click the header bar buttons.

[2018-06-28 22:17] johnnyslots opened #15 "Unrelated state change cause alert to hide"
Hello! I found what I think is a bug. Any time state changes, even if it is unrelated to what is being passed into the 'show' property, it will cause the alert to hide if it currently showing. That is, you cannot have state changing in the background of the alert without it forcing the alert to hide. See below for an example:

this.setState({displayNotification: true})
this.setState({test: false})

[2018-06-29 14:24] rishabhbhatia commented on #15
let me try it out and i'll get back to u @johnnyslots

[2018-07-02 04:05] dianazzz commented on #14
I use stacknavigator.

[2018-07-03 15:29] juanmanuelarze opened #16 "Cannot add a child that doesn't have a YogaNode"
Hi, i get this error when i try to show the alert.

Cannot add a child that doesn't have a YogaNode to a parent without a measure function! (Trying to add a 'RCTRawText [text: ]' to a 'RCTView')
addChildAt
    ReactShadowNodeImpl.java:279
addChildAt
    ReactShadowNodeImpl.java:56
setChildren
    UIImplementation.java:482
setChildren
    UIManagerModule.java:441
invoke
    Method.java
invoke
    J

[2018-07-03 15:35] juanmanuelarze commented on #16
Ok, i found the cause of the issue 5 seconds later i post it.
This error happend when you set title property to ""

[2018-07-03 17:43] rishabhbhatia commented on #16
Ok I'll fix it soon.

[2018-07-03 17:46] juanmanuelarze commented on #16
Dont forgett the message parameter too, and if i set null or false to title or message i get a warning. I think you must allow null or false parameters, in some cases i don't want display a title or message.

Thanks, great work.

[2018-07-03 18:37] iRayan7 commented on #15
I have the same problem.

[2018-07-04 16:23] rafaelbecks commented on #15
@johnnyslots Did you find a solution? I have the same problem

[2018-07-05 20:22] johnnyslots commented on #15
@rafaelbecks In my case I was able to use a promise to make sure all other state has changed and only then turned on the alert. That prevented anything from toggling it back to off. Hope that helps!

[2018-07-05 22:57] rafaelbecks commented on #15
@johnnyslots Thank you for your answer. Unfortunately, that's not my case. I have a checkbox inside the alert and I need to change the state when the user taps the checkbox, but when I update the state, the alert goes off.

[2018-07-06 19:01] rishabhbhatia commented on #15
@johnnyslots @rafaelbecks @iRayan7 fixed, pull from master for now. releasing an update soon.
I was in a different country, sorry for the late response.

[2018-07-06 19:05] #16 closed

[2018-07-06 19:05] rishabhbhatia commented on #16
@juanmanuelarze fixed, releasing an update soon.

[2018-07-06 19:59] rishabhbhatia commented on #15
1.0.8 published.

[2018-07-06 19:59] #15 closed

[2018-07-06 20:00] juanmanuelarze commented on #16
@rishabhbhatia thx, nice work.

[2018-07-06 21:10] rafaelbecks commented on #15
@rishabhbhatia Awesome, it's working now. Thanks! :alien:

[2018-07-08 08:52] iRayan7 commented on #15
@rishabhbhatia Thanks! Keep the good work up. 👏

[2018-08-23 10:39] jjercx opened #17 "closeOnHardwareBackPress not working (Android back button keeps closing alert)"
I'm on a Samsung Galaxy S6 with Android 7.

[code]

Am I missing something?

[2018-08-23 15:10] rishabhbhatia commented on #17
quickly pushed a fix, try new v1.0.9

[2018-08-23 17:47] jjercx commented on #17
Hi @rishabhbhatia, thanks a lot for your fast change. Now it disables back button as expected. However, it hijacks the android back button. I'm using react-navigation and AwesomeAlert is presented inside a StackNavigator. Now, the android back button is not working for my navigation, just after passing through the view with the modal :(

If you need more info tell me. Thanks a lot!

[2018-08-24 00:18] rishabhbhatia commented on #17
Ok @jjercx , I'll fix it tomorrow

[2018-08-25 16:51] rishabhbhatia commented on #17
Hey Juan try v1.1.0 @jjercx

[2018-08-26 06:42] rishabhbhatia commented on #17
@smerkousdavid Hey David! While this was the behaviour before, the problem with it is "If alert is shown to user and you send me Do not close alert on hardware back button", returning false will run default behaviour closing the screen / exit app :(

Now, not a lot of people will be happy with current behaviour "If alert is shown and you send me Do not close alert on hardware back button, It will

[2018-08-26 06:55] smerkousdavid commented on #17
Hey @rishabhbhatia that could work, if you're going to do that, don't forget to run the callback and return it to the Back Handler so that users can return true or false themselves. However, I just thought of another idea. You could add and remove the listener based on if the alert is visible or not. Since the alert is not your standard component and it doesn't "unmount" you could add and remove t

[2018-08-26 07:03] rishabhbhatia commented on #17
@smerkousdavid Hey David, send in a PR. I'll be happy to merge 👍
From my understanding it already returns false if alert is not shown.

[2018-08-27 17:35] #17 closed

[2018-08-30 15:43] mike-niemand commented on #14
It's my understanding that this is corrected in 0.57. The RC is out now.

[2018-09-03 10:38] Base29 commented on #14
I too have the same issue ... navigation is not covered by the alert backdrop only the content is ... any solution for this ?

[2018-09-03 10:44] mike-niemand commented on #14
Have you tried 0.57 RC?

[2018-09-03 10:47] Base29 commented on #14
Nope did not ... I am still on 0.51 ...

[2018-09-06 22:01] thedmeyer opened #20 "Stylizing message text?"
What is the best way to go about stylizing the message text (adding line breaks, italics, etc)? I could simply pass a Text component into the message prop but this would go against the required prop type of string.

[2018-09-12 14:33] rishabhbhatia commented on #20
@thedmeyer Hi David it's a good problem to have, I never thought about it.

You can try [StackOverflow](https://stackoverflow.com/questions/32469570/how-can-i-insert-a-line-break-into-a-text-component-in-react-native) or pass Text in Text [which breaks the required prop type check, sorry for the warnings in this case :)]

[2018-09-12 20:04] wesleyamaro opened #21 "Alert opening in every parent state changes"
Hey Guys,

I have a state `showAlert: false` as default and when I click in a button, like "Open Alert" the alert gets open. Its working well =)

`onCancelPressed()` method I have a setup to change `showAlert: false` to `true`, but when I click outside of the alert, the modal get closed but my state does not change. Is that a problem?

Because after any state changes interaction in the PARENT COMP

[2018-09-13 07:04] rishabhbhatia commented on #21
@wesleyamaro have you tried the onDismiss callback??

[2018-09-13 10:07] Jalson1982 opened #22 "alert not visible"
Hello. I have a FlatList component that shows all clients. Inside each child i have button for change status of client. When i press it alert should open and it works but it is behind of my flatlist and can not see it at all. Can you help with maybe some style tuning . Thx in advance

[2018-09-13 12:41] rishabhbhatia commented on #22
please paste your render function @Jalson1982

[2018-09-15 16:15] rishabhbhatia commented on #21
@wesleyamaro have you tried resetting your state in `onDismiss` callback, refer to `https://github.com/rishabhbhatia/react-native-awesome-alerts/blob/master/examples/App.js`

[2018-09-28 15:15] steventnorris-40AU opened #23 "Android animation is incredibly slow and jerky"
Just as described. The animation on android devices is very very slow and incredibly jerky. Works fine in iOS.

React Native: 0.52
react-native-awesome-alerts: 1.1.1

[2018-10-01 10:00] rishabhbhatia commented on #23
Hi @steventnorris-40AU it could depend on multiple factors

- debugger is connected
- dev build
- low memory available etc

I suggest try it on couple of other real android devices with a release build.
If you're still facing same issue, share the device name/specs and i'll be happy to get problem solving.

[2018-10-01 10:02] #21 closed

[2018-10-01 10:02] rishabhbhatia commented on #22
closing it for inactivity

[2018-10-01 10:02] #22 closed

[2018-10-01 10:03] #20 closed

[2018-10-01 10:04] #13 closed

[2018-10-04 09:20] carlmagumpara opened #24 "Add input support inside modal"
Add input support inside modal

[2018-10-22 10:00] alexpopa-work commented on #24
This would be extremely appreciated!

[2018-10-22 11:50] rishabhbhatia commented on #24
Ok @carlmagumpara and @alexpopa-work i will work on it this weekend.

[2018-11-07 04:05] phansw commented on #14
I'm on 0.57 using wix react-native-navigation. Navigation bar is not covered. As far as I know you have to wrap things in react-native's Modal component to make it cover the entire screen.

[2018-11-07 04:06] dianazzz commented on #14
Worked with Modal..

[2018-11-07 04:06] #14 closed

[2018-11-10 19:12] rishabhbhatia commented on #24
@carlmagumpara @alexpopa-work  Just published a new release v1.2.0 with custom views.
Refer to [examples](https://github.com/rishabhbhatia/react-native-awesome-alerts/blob/master/examples/App.js) for sample implementation of inputs.

[2018-11-10 19:12] #24 closed

[2018-11-10 19:13] rishabhbhatia commented on #23
feel free to reopen with more details.

[2018-11-10 19:13] #23 closed

[2018-12-03 16:42] ShooterArk opened #25 "Dialog Size Issue"
I have integrated the Awesome-alert in one of my view. When I click the next button the loader starts and after a few moments, I am redirected to my targeted view. It works as expected. But when I click back I am redirected to same view where Awesome alerts dialog is integrated, after that everytime when I click on the NEXT button the dialog "Awesome Alert" sizes deceased

![screenshot_1543855211]

[2019-01-05 09:12] arjayosma opened #26 "AwesomeAlert.js Does Not Exist in node_modules (1.2.0)"
This is a great library by the way.

However, when I installed the version 1.2.0 in my project, the VSCode couldn't find the AwesomeAlert.js inside the node_module/react-native-awesome so I had to manually update the package and add the missing files based from your code.

Hope you can look into this one.
Thanks for this awesome piece of code!

[2019-01-07 21:09] rishabhbhatia commented on #26
Hi @arjayosma there shouldn't be a problem with the package. Could you please run npm i react-native-awesome-alerts --save in a fresh project and check.

Sometimes the VSCode crashes because of plugins and a simple restart helps.

I have verified with the same version and it works well.

[2019-01-07 21:09] #26 closed

[2019-01-18 19:10] rishabhbhatia commented on #25
Hey @ShooterArk did you figure this out, should be a styling issue within your code. How are you setting the dialog size.

[2019-02-10 11:38] #25 closed

[2019-04-06 11:19] akhilsanker opened #27 "Alert over react-native over react-native-modal design issue in Android devices"
Hi,
I am using react native awesome alert to display over react native modal. But in iOS, it is displaying correctly but in Android, it is not displaying as required.
I have attached screenshots of both ios and android.

In iOS
![Simulator Screen Shot - iPhone XS Max - 2019-04-06 at 11 47 08](https://user-images.githubusercontent.com/32122016/55668717-32f31280-588b-11e9-935d-f0b5523e5a3a.png)

In

[2019-04-08 09:15] rishabhbhatia commented on #27
@akhilsanker remove the elevation from your buttons, change elevation: 2 to elevation: 0

[2019-04-08 09:38] akhilsanker commented on #27
Hi @rishabhbhatia ,
Thanks for the solution. Let me try and let you know.

Thanks

[2019-04-08 09:38] #27 closed

[2019-04-12 10:15] thisXY opened #28 "Hope you can cancel the animation"

[2019-04-15 08:20] rishabhbhatia commented on #28
@thisXY Provide more details what's expected here?

[2019-04-23 14:50] rishabhbhatia commented on #28
Closing it, feel free to reopen it with more details

[2019-04-23 14:50] #28 closed

[2019-05-01 18:44] clytras opened #29 "Small performance suggestion for dismissing in modal/overlay"
When using the component to a modal, there the alert dismisses too quickly and the animation does not have mush effect. It disappears immediately.

For example I'm doing this with `react-native-navigation` overlay:

[code]

I've noticed that on `_springHide` there is a [`setTimeout` with 70ms](https://github.com/rishabhbhatia/react-native-awesome-alerts/blob/80a8089bbed36ce89fba6ef3b7f4633bc6fb34b

[2019-05-02 07:52] rishabhbhatia commented on #29
Hi Christos, good suggestion.
I'd be a little busy for upcoming week with work, possibly can you test and submit a PR @clytras
I'd be happy to review and merge it, otherwise I'll take it up soon.

[2019-05-09 11:58] akhilsanker opened #30 "How to apply custom font family style to the title and message text"
Hi,

I am using custom font in my application. So how can I change the font family of the title, message, cancel button and confirm button text font style.

Thanks

[2019-05-11 11:13] rishabhbhatia commented on #30
Hi @akhilsanker please refer to the documentation for styling [Styling](https://github.com/rishabhbhatia/react-native-awesome-alerts#styling) and pass style objects with your custom font family.

[2019-05-11 11:13] #30 closed

[2019-06-02 07:20] Bill-Niz opened #31 "Issue with SafeAreaView"
Hi,
The Modal doesn't take full screen in SafeAreaView
<img width="464" alt="Screen Shot 2019-06-02 at 9 21 53 AM" src="https://user-images.githubusercontent.com/1188609/58758197-eab54100-8517-11e9-9080-d43b3432f4bd.png">

[2019-06-05 04:02] akhilsanker opened #32 "Not woking well on orientation change"
Hi,
If the alert is present and just change the screen orientation, then the alert styling is not working properly.

![Simulator Screen Shot - iPhone 6 - 2019-06-05 at 09 28 14](https://user-images.githubusercontent.com/32122016/58929361-4da31400-8774-11e9-96e7-a7a09322f56f.png)

![Simulator Screen Shot - iPhone 6 - 2019-06-05 at 09 28 20](https://user-images.githubusercontent.com/32122016/5892936

[2019-06-11 07:29] lohkaeo opened #33 "How to set confirm or cancel button style to full width?"
Hi everyone,
I try to setting full width style on confirm and cancel button and show each button on each row, but I can't. Please help me. Thanks you for your suggestion.

[2019-06-12 18:08] rishabhbhatia commented on #33
Hey @lohkaeo `cancelButtonStyle` and `confirmButtonStyle` should help. Please refer to [styling documentation](https://github.com/rishabhbhatia/react-native-awesome-alerts#styling)

[2019-06-12 18:08] #33 closed

[2019-06-12 18:13] rishabhbhatia commented on #32
Hey @akhilsanker listen for orientation changes and keep updated width & height in the state object. For `alertContainerStyle` pass height and width from state. Refer [stackoverflow](https://stackoverflow.com/a/51127926/5385214) and [Dimensions.addEventListener](https://facebook.github.io/react-native/docs/dimensions#addeventlistener) for more help.

[2019-06-12 18:17] rishabhbhatia commented on #31
Hi @Bill-Niz the purpose of SafeAreaView is to exclude the notch-area. For alert in full screen render it outside the SafeAreaView or replace it with a View component.

[2019-06-12 18:17] #31 closed

[2019-06-13 04:35] akhilsanker commented on #32
Hi @rishabhbhatia,

I tried the solution, but it is not working as expected.

My code:

   	componentDidMount() {
	    this.getOrientation();
	    Dimensions.addEventListener( 'change', () => {
	   		this.getOrientation();
	    });
	}

	async getOrientation() {
        if( Dimensions.get('window').width < Dimensions.get('window').height ) {
        	await this.setState({
        		alertWidth: Dime

[2019-06-13 07:21] rishabhbhatia commented on #32
@akhilsanker let me try it out this coming weekend

[2019-06-13 07:25] akhilsanker commented on #32
@rishabhbhatia ,

Thanks.

[2019-06-13 16:35] goldmont commented on #32
Hi @rishabhbhatia,

I'm experiencing a similar problem. I've attached two screenshot: the first is taken from a common Android device; the second is taken from a Galaxy S10 Plus. As you can see, on the Galaxy S10, the overlay does not cover all the screen. Thanks.

![Common Android Device](https://user-images.githubusercontent.com/6855692/59450577-ca379180-8e09-11e9-9dd3-0e3fed9e0ec8.png)

![Galax

[2019-06-14 04:12] nguyenvanphuc2203 opened #34 "how i can define common file , and use everywhere"

[2019-06-14 04:22] akhilsanker commented on #32
@goldmont ,

Check by adding height as device height for 'alertContainerStyle'.

Thanks

[2019-06-14 12:47] goldmont commented on #32
@rishabhbhatia,

look at bottom.

![Screen](https://user-images.githubusercontent.com/6855692/59510123-2dc9c980-8eb3-11e9-9a15-3047a5b844ed.jpg)

[2019-06-14 13:10] rishabhbhatia commented on #34
@nguyenvanphuc2203  Hey Nguyễn please explain yourself more.
It is already a component you can import and use anywhere just like other react components. If all your alerts share same props, I suggest you to write a function and return the alert, you still have to inject it in the render function of parent container similar to any react component.

Where you want to place the alert in your componen

[2019-06-14 13:10] #34 closed

[2019-06-14 14:43] rishabhbhatia commented on #32
@goldmont Hey Giuseppe please share your code snippet, specifically the styling part.

[2019-06-14 14:54] goldmont commented on #32
@rishabhbhatia,

I've created a component which renders the AwesomeAlert.

**Screen component:**

[code]

**WarningDialog component:**

[code]

[2019-06-14 14:56] rishabhbhatia commented on #32
@goldmont Where are you passing height to the alert? In contentContainerStyle, i see no height being passed.

[2019-06-14 14:59] goldmont commented on #32
@rishabhbhatia I was passing it in 'alertContainerStyle'.

**WarningDialog component:**

[code]

[2019-06-14 15:03] rishabhbhatia commented on #32
@goldmont utils.hp(100) show me the definition of this function.

[2019-06-14 15:05] goldmont commented on #32
@rishabhbhatia It's just an alias of heightPercentageToDP from this library https://github.com/marudy/react-native-responsive-screen

[2019-06-14 15:16] rishabhbhatia commented on #32
Ok two things Giuseppe

- First, I am not aware about this library or how it works, please use the Dimensions API by react native to pass height [Dimensions#get](https://facebook.github.io/react-native/docs/dimensions#get)
- Second your issue is not related to orientation change which is originally reported here by @akhilsanker, kindly open a new issue and I'd be happy to help further.

This threa

[2019-06-14 15:27] goldmont commented on #32
@rishabhbhatia Since both @akhilsanker and I were having issues about overlay resizing, I tought this was the right thread. Ok, well. I will open a new issue. However I think it's a problem related to the translucent status bar.

[2019-06-14 15:34] rishabhbhatia commented on #32
@goldmont Try using the Dimensions API I have shared. Probably const { height } = Dimensions.get('screen'); will help, refer here [Dimensions stackoverflow](https://stackoverflow.com/questions/44978804/whats-the-difference-between-window-and-screen-in-the-dimensions-api).
I appreciate it, please understand we have added many comments for an issue related to resizing but not specific to orientation

[2019-06-14 15:57] goldmont opened #35 "Overlay does not cover all the screen when using translucent statusbar"
(Partially discussed [here](https://github.com/rishabhbhatia/react-native-awesome-alerts/issues/32#issuecomment-501779765))

Hi @rishabhbhatia,

after some tests, I can deduce that having a translucent status bar prevents the overlay to cover all the screen on devices like Galaxy S10 Plus. It's like both `Dimensions.get('screen')` and `Dimensions.get('window')` return the same height value which i

[2019-06-14 16:06] rishabhbhatia commented on #35
Hey @goldmont could adding the height of status bar to screen height help? Here's a thread around getting status bar height in android [StatusBar](https://stackoverflow.com/a/38746516)

[2019-06-14 17:34] rishabhbhatia commented on #32
Hey @akhilsanker the solution to your problem; Pass the dynamic screen height and width style to `overlayStyle` prop instead of `alertContainerStyle` and it works !!

I attach the listener in `componentDidMount` and detach it in `componentWillUnmount`.
Below are some of my code snippets to help you.

`componentDidMount() {
    this.attachDimensionsChangeListener();
  }`

Here's my function to dete

[2019-06-17 07:12] akhilsanker commented on #32
Hi @rishabhbhatia ,

Added dynamic width and height to 'overlayStyle' but the result looks like:

![Simulator Screen Shot - iPhone X - 2019-06-17 at 12 41 12](https://user-images.githubusercontent.com/32122016/59585041-37df0880-90fd-11e9-8bc5-67775168065e.png)

![Simulator Screen Shot - iPhone X - 2019-06-17 at 12 41 32](https://user-images.githubusercontent.com/32122016/59585058-40cfda00-90fd-11e

[2019-06-18 10:00] rishabhbhatia commented on #32
@akhilsanker can you copy same to the alert container style..

[2019-06-18 12:09] akhilsanker commented on #32
@rishabhbhatia ,
Let me check and let you know.
Thanks

[2019-06-18 12:27] akhilsanker commented on #32
Hi @rishabhbhatia ,
Tried it, but the alert box alignment in landscape mode is not centre. Please check the screenshot.

![Simulator Screen Shot - iPhone Xʀ - 2019-06-18 at 17 54 21](https://user-images.githubusercontent.com/32122016/59681785-5115b100-91f2-11e9-8361-4506bcf688fa.png)

Thanks

[2019-06-19 03:33] akhilsanker commented on #32
Hi @rishabhbhatia ,

There is a alignment issue on orientation change. Solved by adding `alignSelf: 'center'` in  `alertContainerStyle`.

Thanks for the solution.

[2019-06-19 03:33] #32 closed

[2019-08-01 12:09] Enoch30 commented on #23
This is still a problem ...Please, is there a fix?

[2019-08-16 14:28] Meycon commented on #31
const { height } = Dimensions.get('window');

<AwesomeAlert alertContainerStyle={{ height: height}}   />

[2019-10-13 06:32] HadisSharif opened #37 "Alert dialog reappears again"
After closing the dialog one, it reappears again with  a smaller size and locks the screen.
I made sure "states" are implemented correctly

[2019-10-13 17:39] rishabhbhatia commented on #37
never seen a similar issue, share your psuedo-code; pretty sure you got something going there.

[2019-11-02 14:59] rishabhbhatia commented on #37
@HadisSharif Marking it closed if you're stiff facing it share some details.

[2019-11-02 14:59] #37 closed

[2019-11-12 23:04] clytras opened #46 "RN >= 0.60 warnings"
I'm currently on RN 0.61 and I get these warnings when showing the alert:

How can you update this methods without breaking it for older RN versions? Just replacing `componentWillReceiveProps ` with `componentDidUpdate`?
I think the best way will be to migrate the class component to react hooks and maybe create a new (next) version for RN >= 0.60.

Would like to see your thoughts on this.

[2019-11-12 23:52] clytras commented on #29
@rishabhbhatia I never saw that response of yours! Sure I can create a PR. Will do it soon. Thanks.

[2019-11-13 19:28] rishabhbhatia commented on #46
@clytras IMO first thing should be to suppress warnings in the next minor version. That get's it through 16.x and 17.x (hopefully).

Second, should be to replace the `componentWillReceiveProps` with `getDerivedStateFromProps` and `componentDidUpdate` and release it as a major version v2.0 with updated docs.

Honestly, I'm not a hooks fan yet and I wouldn't introduce them for simple logic today. If

[2019-11-13 19:40] clytras commented on #46
@rishabhbhatia that will be great. Yes, I think there should be a major release for full supporting new RN versions.

I am a big fan of hooks. Since I figured out how hooks with props and updates work, I was thrilled by the simplicity and the cleanliness of functional components!

[2019-11-14 06:45] tzraeq commented on #29
@clytras  Looking forward to your PR! Thanks!

[2019-11-24 03:37] ShithereWegoagain12 opened #50 "showProgress"
I can't turn off this prop
When i set true and then i set false it still there
Can you check this thank you

[2019-11-24 03:49] #50 closed

[2019-11-25 16:25] rishabhbhatia commented on #46
@clytras The warnings have been suppressed, the new minor version will be out soon.

[2019-11-25 16:25] #46 closed

[2019-11-26 14:00] clytras commented on #46
@rishabhbhatia thank you 🎉🍺🍻
I'll try to find some time to check the closing animation PR.

[2019-12-27 08:16] GongJS opened #52 "add auto-close feature ?"
i must close the alert by myself, but sometimes i hope the alert can be close automatic after some  seconds.

[2019-12-28 11:44] rishabhbhatia commented on #52
@GongJS that's super simple, add a timeout and set `show` prop to false

[2019-12-28 11:44] #52 closed

[2020-02-14 08:59] caglardurmus commented on #35
i tried this but nothing change

[2020-03-04 08:27] bettimms opened #53 "Memory leak warning"
I'm getting a memory leak warning when using AwesomeAlert.

![image](https://user-images.githubusercontent.com/9863453/75859372-531cb000-5e13-11ea-9aa5-4d480c976fe2.png)

[2020-03-04 11:05] rishabhbhatia commented on #53
Hey @bettimms are you hiding alert before your component unmounts?
Share some code of CustomAlert and I'll have a look over the weekend.

[2020-03-05 04:05] bettimms commented on #53
I'm hiding then navigating to next view. Below is the code of the `CustomAlert`.

[code]

[2020-03-05 04:22] bettimms commented on #53
Apparently hiding alert seems it's taking some time. Doing this removes the warning

[code]

[2020-03-05 16:19] rishabhbhatia commented on #53
@bettimms if you're using setState to hide alert, please route in the callback of setState since it's an async operation. Something like `this.setState({ show: false }, () => { this.props.navigation.navigate('Home');  })`

[2020-03-05 20:32] bettimms commented on #53
I’ve tried the case with the state’s callback but it didn’t work. Timeout above did the job as workaround.

[2020-03-06 04:58] methineeinkan opened #54 "How to Switch button position?"

[2020-03-06 11:29] rishabhbhatia commented on #53
Cool, I'll see if there are further improvements.

[2020-03-06 11:29] #53 closed

[2020-03-06 11:39] rishabhbhatia commented on #54
@methineeinkan share more details

[2020-03-23 14:18] Gaucho-9 opened #56 "Can you put more Style options?"
Hi, I love your package, but I can't style it as I want. Looking in your code I found a <View style={styles.content}> that I can't override with my style. Also I want to modify <View style={styles.action}>.

The results is that I want to put the title and message left aligned and the buttons right aligned. It is possible to achieve this? Or if you prefer I can modify and do a pull request.

Thanks

[2020-03-23 20:37] rishabhbhatia commented on #56
@Gaucho-9 seems possible, try giving `titleStyle` and  `messageStyle` alignSelf of flexStart and the `buttonStyle` alignSelf of flexEnd. Sure, all PR's are most welcome.
I'll find time to add `contentStyle` and `actionStyle` props that will give you more flexibility in customizing alert content and buttons.

[2020-03-24 07:07] Gaucho-9 commented on #56
#57 I've tried what you told me but only works for message content. I've created a pull request with two new properties for custom style this two parts.

[2020-03-24 20:55] rishabhbhatia commented on #56
Perfect, your PR is approved. I will publish a new version.

[2020-03-24 20:55] #56 closed

[2020-03-27 11:24] rishabhbhatia commented on #54
@methineeinkan `actionContainerStyle` added in v1.3.1, please use it to position the buttons as desired.

[2020-03-27 11:24] #54 closed

[2020-03-27 11:27] rishabhbhatia commented on #29
Hey @clytras we've kept this open for a while, closing it now. Please feel free to re-open if you have a solution ready.

[2020-03-27 11:27] #29 closed

[2020-04-03 21:53] jsnavarroc opened #58 "Have a problem with 'useNativeDriver'"
When implemen this libray in the last vesion of react-native has this error:
[look this img](https://i.imgur.com/gXsMSYS.jpg)
thanks for your attention

[2020-04-04 05:59] rishabhbhatia commented on #58
@jsnavarroc I'll release a new version shortly that fixes this, ignore the warning for now.

[2020-04-05 10:30] armagedan commented on #58
Thank you! Needed this

[2020-04-05 10:44] armagedan opened #59 "Image Feature Request"
First off, Loving the package. I would Like to add an image/icon on top of the alert box (before the title). I know there is a `customView` but it adds the elements to the bottom of message text. However, for now I am able to do something like this (for anyone wondering):

[code]

[2020-04-05 15:50] rishabhbhatia commented on #59
The idea was you would not pass title / message but `customView` with image, title and message
Appreciate it :smile:

[2020-04-05 15:50] #59 closed

[2020-04-05 16:00] armagedan commented on #59
I was thinking, maybe using an Icon (checkmark) and just alerting with an "Ok" option only which would contain a certain info that an action has been completed. If you can implement an alternative icon/image on top of the title, it would be awesome!

[2020-04-06 17:08] rishabhbhatia commented on #59
@armagedan Sure, why not. I'll give it a thought in the next release.

[2020-04-06 17:09] rishabhbhatia commented on #56
@Gaucho-9 FYI, a new version with your changes was released.

[2020-04-10 12:12] rishabhbhatia commented on #58
New version v1.3.2 released with `useNativeDriver` for animations, refer https://github.com/rishabhbhatia/react-native-awesome-alerts#props.

[2020-04-10 12:12] #58 closed

[2020-04-13 06:59] YahiaBadr opened #60 "how to disable buttons (confirm and cancel)?"
I am trying to disable buttons while `showProgress` as i am waiting from a server call and i want to prevent many clicks which will cause many server calls.

[2020-04-13 08:16] rishabhbhatia commented on #60
@YahiaBadr You can return from your onPress functions with `if(loading)` return; additionally, you could pass a `style` with grey color or something to show buttons are disabled while it's loading. That's the simplest way I can think of right now from top of my head.

Meanwhile, I'll add support for the disabled prop to buttons in the next release.

[2020-04-13 08:58] YahiaBadr commented on #60
@rishabhbhatia thanks for the idea, that's could be enough for me.

[2020-04-13 08:58] #60 closed

[2020-04-21 07:50] suraneti opened #61 "progressSize error when set string value"
If set as an integer it fine and setting `progressSize` not working on iOS.

<img width="273" alt="Screen Shot 2563-04-21 at 14 48 10" src="https://user-images.githubusercontent.com/26770227/79839744-2f232700-83df-11ea-841a-14338ee98494.png">

[2020-04-21 14:53] rishabhbhatia commented on #61
@suraneti Hey Suraneti, refer to react-native docs https://reactnative.dev/docs/activityindicator#size

[2020-04-21 23:12] SpectorHacked opened #62 "Alert Modal get Smaller (Android)"
Hey there,
Using Expo 36 SDK,
Android Version 9,

When trying to hide alert by change is state Its just make the modal smaller everytime you press the cancel button,

If I use native driver its just makes the alert smaller once but still displayed
With NativeDriver set to True:

![WhatsApp Image 2020-04-23 at 13 47 54 (3)](https://user-images.githubusercontent.com/31251714/80091611-15621b00-856a-1

[2020-04-22 00:40] suraneti commented on #61
@rishabhbhatia Thanks, I just thought the input is a number type of progress size pixels.

[2020-04-22 00:40] #61 closed

[2020-04-22 17:09] rishabhbhatia commented on #62
@SpectorHacked Seems weird, share some code I'll have a look.

[2020-04-23 10:59] SpectorHacked commented on #62
Updated the comment, probably a animation problem

[2020-04-25 19:55] rishabhbhatia commented on #62
@SpectorHacked Just tried with `expo:'37.0.3'` on android, no issues at all. Tried `useNativeDriver: true / false`, everything works normally.

Can you create a new expo app, put alert and share results.

[2020-05-03 22:18] HeavenShadow commented on #62
@rishabhbhatia
i have the same issue
here is a snack for the problem [https://snack.expo.io/@heavenshadow/awesome-alert](url)

[2020-05-04 16:06] lucasbortoli commented on #35
I solved it by conditionally setting the status bar background color to transparent when alert is open

[2020-05-05 00:02] SpectorHacked commented on #62
What expo version are you using? What android device? Any special libraries?

[2020-05-05 09:53] HeavenShadow commented on #62
Using Expo 37 SDK,
Android Version 9, and nox emulator
no special libraries

[2020-05-05 13:50] rishabhbhatia commented on #62
Snacks are really helpful : )

The simplest solution would be calling `setLoading` and `setShow` in correct order, inside then block invoke `setLoading(false); setShow(false);` and move `setLoading` from finally to catch.
This should work.

See below for more details.

Notice you're calling `search` in `onConfirmPressed` where a state update is invoked inside then ` setShow(false);` and again insi

[2020-05-06 09:38] SpectorHacked commented on #62
Still having no luck with creating state who is object and then setting all states at once:

        show: false,
        message:'',
        loadingState: false
    });

`    async function _checkusercer() {

        if (email != "" || password != "") {
            // do something
            } else {
            setAlertConfig({message:"Please fill all fields", show:true, loadingState: false})

[2020-05-06 09:48] rishabhbhatia commented on #62
Hey, @SpectorHacked possible for you to create a snack? I'll try to solve it for you there.
The above solution was for the @HeavenShadow snack.

[2020-05-06 10:02] HeavenShadow commented on #62
hey  @rishabhbhatia
using object
 `const [alertConfig, setAlertConfig] = React.useState({
    show: false,
    loadingState: false,
  });`
and setting all states at once works great, it solves the issue.
i updated the snack if someone else needs it

[2020-05-14 12:36] rishabhbhatia commented on #62
Hey @SpectorHacked able to solve it?

[2020-05-17 12:45] SpectorHacked commented on #62
Yea just yesterday:)!
@HeavenShadow Snack helped me a lot,
And so did you! Thanks
The problem when on setting the state of the objects:)

[2020-05-17 12:45] #62 closed

[2020-06-04 00:48] mahesh-s33 opened #63 "Unable to install the package"
+ react-native-awesome-alerts@1.3.2
added 1 package from 1 contributor in 3.37s

2 packages are looking for funding
  run `npm fund` for details

I face same issue with all packages I try to install. Can you help me?

[2020-06-04 11:43] rishabhbhatia commented on #63
Hey @mahesh-s33 seems like the package was installed `added 1 package from 1 contributor in 3.37s`. Please go ahead and try to use it in your app.

`2 packages are looking for funding, run npm fund for details`
As open-source developers, it takes time and effort to maintain packages alongside your regular job/life activities. You can show support to these open source developers by funding their pr

[2020-06-04 11:43] #63 closed

[2020-06-25 23:43] 0hio-creator opened #64 "Overlay doesn't cover react-navigation tabs"
Specifically @react-navigation/bottom-tabs
Are not covered by the overlay and are still pressable.

[2020-06-28 20:57] rishabhbhatia commented on #64
@0hio-creator I'll have a look this week.

[2020-07-03 11:06] rishabhbhatia commented on #64
@0hio-creator New version v1.3.3 released with the fix, try it out.

[2020-07-03 11:06] #64 closed

[2020-07-03 11:07] rishabhbhatia commented on #35
Hey Guys new version v1.3.3 released with the fix, try it out.

[2020-07-03 11:07] #35 closed

[2020-07-25 09:55] deepakkumardk opened #66 "Typescript support"
It will be good to have Typescript support for better type checking.

Getting the following warning as it doesn't have the **index.d.ts** file

  Try `npm install @types/react-native-awesome-alerts` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-native-awesome-alerts';`

[2020-07-26 18:09] rishabhbhatia commented on #66
@deepakkumardk Sounds good to me...busy few weeks right now, I'll look into it soon.

[2020-07-29 08:45] cbovis commented on #64
Thanks @rishabhbhatia. We were having the same issue and upgrading to 1.3.3 has fixed it for us 👍

[2020-08-19 13:27] devang-p-eq opened #68 "AwesomeAlert not show properly in IOS (react native)"
I have using AwesomeAlert(android and ios) but ios side its not showing and android side showing perfectly
please help me out

here's code i hve write in my app
_________________________________________________________

<AwesomeAlert
                        show={this.state.isError}
                        showProgress={false}
                        title={this.state.txtTitle}

[2020-08-19 17:42] kr396 commented on #68
same issue

[2020-08-19 19:14] rishabhbhatia commented on #68
@devang-p-eq @kr396 Devang and Kausal, share your render functions / pseudo code of your component.
Make sure Alert is placed as the last component in the render function. Add a snack here [Expo Snack](https://snack.expo.io/), it will be easier to help you guys out.

[2020-08-20 06:03] devang-p-eq commented on #68
<View style={styles.container}>
<View style={{ marginTop: 24, backgroundColor: MyColors.White }} >
                                <View style={{ flexDirection: 'row' }}>
                                    <Text style={{ color: MyColors.Black, fontSize: 16, }}>
                                        Address
                                </Text>
                                    <Text style={

[2020-08-20 16:49] rishabhbhatia commented on #68
@devang-p-eq I made a [snack](https://snack.expo.io/q5OYrq3YS) from your pseudo-code, it works fine on iOS. Try to reproduce it and share the snack link with me.

[2020-08-25 21:15] Princeofgame opened #69 "Alert overlay doesn't fit the entire screen when the navigation bar is hidden (Android Only)"
Hey, I'm new to react native and I'm using this library for all the alerts in my project, and so far it's working great.

However when enabling **full screen mode** in Android (_I just hide the navigation bar using this library [https://github.com/thebylito/react-native-navigation-bar-color](url)_), the overlay surrounding the alert stops at the non-existant bottom navigation bar.

I couldn't get

[2020-08-27 19:07] rishabhbhatia commented on #69
@Princeofgame I'll have a look.

[2020-08-28 06:20] saamerm opened #70 "Alert is misplaced on Expo app built on web"
With the latest version of Awesome Alerts installed, with the help of Expo, I built the app to "Run in web browser" and the alert was misplaced to the bottom left:

<img width="505" alt="image" src="https://user-images.githubusercontent.com/8262287/91528062-eb808280-e8d4-11ea-8298-56d0e8e81264.png">

The iOS device and simulator obviously worked alright.
![image](https://user-images.githubusercont

[2020-08-28 10:42] rishabhbhatia commented on #70
@saamerm Interesting, I've not looked at the alert on web before. I'll have a look.

[2020-08-29 08:25] rishabhbhatia commented on #70
Hey @saamerm Modal behaviour on the web seems weird, downgrade to v1.3.2 and you should be fine. Meanwhile, I'll add support for web in the next version.

Running [React Native Modal](https://docs.expo.io/versions/latest/react-native/modal/) example on a new expo web app produces this unexpected result.

<img width="1436" alt="Screen Shot 2020-08-29 at 12 20 38 PM" src="https://user-images.githubu

[2020-08-29 21:48] Princeofgame commented on #69
Hey, thank you for the quick reply (and sorry for this late one, I wanted to test your solution before replying).

Thank you for the temporary fix, downgrading the library seems to make things working perfectly now !

I tried the same code on the new version and it didn't work (I switched versions twice), so I guess the new version adds something that creates this problem, which is _probably_ that

[2020-08-31 10:10] raihan-talukder opened #71 "closeOnHardwareBackPress value false not working"
<AwesomeAlert
          show={true}
          useNativeDriver={true}
          showProgress={false}
          title="Error!"
          message="Invalid Username or Password!"
          closeOnTouchOutside={false}
          closeOnHardwareBackPress={false}
          showCancelButton={false}
          showConfirmButton={true}
          cancelText="No, cancel"
          confirmText="OK"
          con

[2020-08-31 18:51] rishabhbhatia commented on #69
@Princeofgame I looked at the link you shared. Try importing `Modal` from `react-native` instead of a third-party library. Remove `import { Modal } from 'react-native-paper';`. I tried it in my local before, it leaves some space at the bottom. View works just fine.

For some reason the `hideNavigationBar` from `react-native-navigation-bar-color` is giving me `Device: null is not an object (evaluat

[2020-08-31 19:20] Princeofgame commented on #69
@rishabhbhatia Oh you're right, sorry i didn't notice the error in the import, i used the auto import function from VSCode...
I'll try the new code in a moment.

I have the error too, like i said in the first post, my guess is that the library is probably using some Android native code which snack doesn't support... ? (To be honest, I'm also very confused... xD)

Anyway, it seems that you can make

[2020-08-31 20:25] rishabhbhatia commented on #71
@raihan-talukder New release `v1.4.0` is out with the fix, try it out.

[2020-08-31 20:25] #71 closed

[2020-08-31 20:26] rishabhbhatia commented on #70
@saamerm New release v1.4.0 is out with the expo web support, try it out.

[2020-08-31 20:26] #70 closed

[2020-08-31 20:30] rishabhbhatia commented on #68
@devang-p-eq Did you figure it out, try the new `v1.4.0` version. Feel free to re-open if you're still facing an issue.

[2020-08-31 20:30] #68 closed

[2020-08-31 20:33] rishabhbhatia commented on #69
Yeah I know, it's a little annoying since the Modal doesn't support the styling prop. I'll try to figure out the best solution meanwhile stick with `v1.3.2`.

[2020-08-31 22:09] Princeofgame commented on #69
I will, thanks again for the help :D

[2020-09-10 07:23] toplongguodev commented on #69
Hi, everyone, Thanks for the great plugin first.
I am using this alert thing, it works perfectly on my device.
But it's overlay cuts the navigation bottom and header on other android device,
I attached screenshot for a visual help.
![02](https://user-images.githubusercontent.com/58819759/92694392-94b98500-f379-11ea-9fb2-cdbdf3294fb0.jpg)

Hope you guys fix this error and improve to a better one.
T

[2020-09-10 07:46] rishabhbhatia commented on #69
@toplongguodev what is alert and android version you're using? also, specify the navigation library, will have a look.

[2020-09-10 09:33] toplongguodev commented on #69
Thanks for your reply.
Xiaomi redmi note 7
android 10

"@react-navigation/bottom-tabs": "^5.7.3",
"@react-navigation/drawer": "^5.5.0",
"@react-navigation/native": "^5.1.6",
"@react-navigation/stack": "^5.2.11",

These are details.
Thanks

[2020-09-10 10:45] rishabhbhatia commented on #69
@toplongguodev awesome alert version?

[2020-09-16 14:43] ydang204 commented on #66
I'm using TS and still waiting for this feature. 👍

[2020-09-16 19:06] rishabhbhatia commented on #66
Guys, I'll add the typescript declaration file soon, ignore the warning for now.

[2020-09-18 10:01] rishabhbhatia commented on #66
@deepakkumardk @ydang204 Typescript declaration added with the new `v1.4.1`, try it out.

[2020-09-18 10:01] #66 closed

[2020-09-23 13:38] franj0 opened #73 "[iOS] crash"
My app is landscape only and everything works fine until this moment.

Modal was presented with 0x2 orientations mask but the application only supports 0x18.Add more interface orientations to your app's Info.plist to fix this.NOTE: This will crash in non-dev mode.

Maybe it's due iOS 14 update but I can't find solution for this.
Native modal works fine.

this is issue only on iOS

[2020-09-24 07:50] kelokchan opened #74 "Native Alert is auto dismissed when Awesome Alert is closed"
I'm currently using `AwesomeAlert` as a spinner. I have an API call that will set `show` to false to close the `AwesomeAlert` fire `Alert.alert()` whenever the response is received. The problem is, whenever the spinner is closed, my successful `Alert` will be dismissed altogether. Any idea why?

[code]

[2020-09-24 14:27] franj0 commented on #73
EDIT:
Can you add  prop to Modal component at AwesomeAlert.js line 202
 `supportedOrientations={["landscape"]}`

[code]

[2020-09-24 15:17] rishabhbhatia commented on #73
@franj0 Sure, I'll add support for Modal props sometime this weekend and release a new version.

[2020-09-24 15:18] rishabhbhatia commented on #74
put `Alert.alert('Success')` in a setTimeout with 1-second delay and try what happens.

[2020-09-27 09:34] rishabhbhatia commented on #73
@franj0 Modal props support is added in new v1.4.2. You can now pass `modalProps` to `AwesomeAlert`.
[code]

[2020-09-27 09:34] #73 closed

[2020-09-29 03:09] kelokchan commented on #74
That would work. Is there a better, less hacky way?

[2020-09-29 08:13] rishabhbhatia commented on #74
@kelokchan Kelok the problem lies in these two lines
[code]
State updates are async and here you're trying to show an Alert while the previous Modal isn't dismissed yet. The `setTimeout` call was for my confirmation.
In terms of pseudo-code, you want to hide the alert, and after it is dismissed show another alert. The classic way of doing it with `setState` was to use the callback, you'd write lik

[2020-09-29 08:13] #74 closed

[2020-10-05 01:02] AllanKlaus opened #76 "Add topic of Hacktoberfest"
Would be good if you add the topic of `Hacktoberfest` to estimulate people to help on solving issues.

[code]

[2020-10-05 16:11] rishabhbhatia commented on #76
@AllanKlaus Hey Allan, I appreciate everyone's contribution to open-source throughout the year. I'd like to keep this repo simple, I'll pass on adding the `Hacktoberfest` topic for now.

[2020-10-05 16:11] #76 closed

[2020-10-15 20:30] jahn-brito commented on #69
@toplongguodev I solved this problem using:
`overlayStyle={{height: '100%'}}`

[2020-11-05 18:35] bAngerman commented on #37
The problem is that the `closeOnHardwareBackPress` and `closeOnTouchOutside` do not modify the state in the `show` condition. So the only way to truly control the state is to disable both of those and only handle state via `onCancelPressed`.

Ideally those mentioned should fire the `onCancelPressed` callback.

[2020-11-23 18:46] Osamasomy opened #77 "how to add More Buttons"
Thanks for this awesome library but i just want to know that how to add 3rd button like ask me later?
is this library currently supporting 3rd button?

[2020-11-27 18:02] rishabhbhatia commented on #77
@Osamasomy Hey Usama, yes use the `customView` prop.

[2020-11-27 18:02] #77 closed

[2020-12-29 05:57] rizhalmaulana opened #78 "onCancelPressed and onConfirmPressed can not work"
const AddTagRegister = () => {
    const [tagId, setTagId] = useState('');
    const [tagData, setTagData] = useState('');
    const [tagCycle, setValueCycle] = useState('');
    const [tagType, setValueType] = useState('');
    const [showAlert, setShowAlert] = useState(false);
    const [requestAddRegister, errorMessage] = useResults();

    const showNotif = () => {
        setShowAlert({

[2020-12-29 09:37] markstreich opened #79 "One alert closing triggering another to open causes freezing"
Thanks for the awesome library! :)

I have an issue where if one AwesomeAlert starts closing while another is freshly opened, that 2nd Alert won't be shown.

I guess it's related to [this](https://github.com/rishabhbhatia/react-native-awesome-alerts/issues/74#issuecomment-698411795)
[code]

Depending on the timing of the 2nd alert being shown, it may even cause the 1st alert closing animation to f

[2020-12-29 09:40] markstreich commented on #78
I think this is your problem:
[code]

[2020-12-29 09:46] markstreich commented on #79
Forgot to mention I've been testing on iOS, iPhone SE 14.3 (simulator) not sure if other platforms are affected.

[2021-01-02 19:39] rishabhbhatia commented on #78
@rizhalmaulana Mark pointed out the correct solution, hope it works now.  Use `setShowAlert ` to set boolean values instead of objects.

[2021-01-02 19:39] #78 closed

[2021-01-02 19:47] rishabhbhatia commented on #79
@markstreich Mark I'd suggest having variants with different content rather than multiple alerts. Similar to having One Modal and flashing different content. Try with `onDismiss` to show another one if it serves your purpose, hope it works out.

[2021-01-15 13:25] rishabhbhatia commented on #79
Mark feel free to open this up if you need more ideas.

[2021-01-15 13:25] #79 closed

[2021-02-01 01:01] eric-yoo opened #81 "Doesn't work when two AwesomeAlert components are declared consecutively (ios only)"
When two AwesomeAlert components are declared consecutively, the show property doesn't work properly in ios. As a temporary workaround, I had to wrap each one in a different component.

e.g.
<Container>
  <AwesomeAlert ... />
  <AwesomeAlert ... />
</Container>

e.g.
<Container>
  <SubContainer>
    <AwesomeAlert ... />
  </SubContainer>
  <SubContainer>
    <AwesomeAlert ... />
  </SubContainer>

[2021-02-02 20:11] rishabhbhatia commented on #81
I'll have a look

[2021-02-06 17:55] lokomass opened #82 "use as function in app.js"
Hi !
Amazing lib.
Is it possible to use this component as a function for all the app ?

In each compo, call alert like this
`
alert('title', 'msq', () => ok(), () => cancel())`

[2021-02-06 22:53] rishabhbhatia commented on #82
I see what you mean there, however no, not out of the box. You could achieve it still.

`Is it possible to use this component as a function for all the app ?` add the alert at the root level of your app and pass props to it using your workflow, a react context or redux. For example look at [this](https://stackoverflow.com/a/61725898).

In terms of psuedo code
`const [alertProps, alert] = useState(

[2021-02-07 08:42] lokomass commented on #82
Thanks for your reply.
I'm using redux and I see how I can do this.
I have Just a doubt.
How can I use callbacks onPress buttons ?

[2021-02-07 12:56] rishabhbhatia commented on #82
with the redux workflow you would trigger an action with `alertProps` (reference to the callback fn is part of this props object), it goes to your reducer and you access it in your root component from the store. Inside the root component you want to update if `alertProps` are updated, you can rely on an useEffect for it.

[2021-02-07 13:48] lokomass commented on #82
Do you have some examples with redux (or context) ?

[2021-02-07 15:58] lokomass commented on #82
Here is a functionnal code for what I want :)

[code]

[code]

[code]

Enjoy

[2021-02-07 16:53] lokomass opened #83 "clone animation _springHide with _springShow"
When the alert appears, the animation is amazing.
On close, the animation hide text, but not backgroundColor of buttons, and the effect is not very good.
Is it possible de clone animation of _springShow ti _springHide, with a little fade ?
Thanks for reply ;)

https://user-images.githubusercontent.com/7886368/107153350-58f90a80-696d-11eb-8a9a-216aefd7d06d.mov

[2021-02-07 17:33] rishabhbhatia commented on #82
have a good one!

[2021-02-07 17:33] #82 closed

[2021-03-05 14:25] YeonjuSeo commented on #33
I have same question but I don't know how to do.
[code]
This doesn't work.

[2021-03-05 18:57] rishabhbhatia commented on #33
@YeonjuSeo It's hard to understand what you're trying to achieve. If its buttons stacked vertically, pass `flexDirection: "column"` to `actionContainerStyle` prop and then subsequently the button styles. By default the buttons are stacked in a row. Give it a try, hope it gets the job done.

[2021-03-05 19:11] YeonjuSeo commented on #33
Thx for replying to my question but unfortunately that's not what I wanted to do. Similar with the title of this PR, I want to make each button fill half of the biggest container's width. Both buttons are stacked in a row.

![image](https://user-images.githubusercontent.com/56028436/110161496-c5faa580-7e30-11eb-9899-73a5c6256fea.png)
This is the situation I met.(취소(the left one) is cancel button a

[2021-03-05 22:45] rishabhbhatia commented on #33
@YeonjuSeo Hey man, give this [Expo](https://snack.expo.io/zyQA3HDYp) a try. You can further customize and play around to match it with your needs. Hopefully, this will get you started.

<img width="332" alt="Screen Shot 2021-03-06 at 2 40 39 AM" src="https://user-images.githubusercontent.com/16114784/110182062-c6da0a00-7e25-11eb-825a-f1b785a4dfb8.png">

[2021-03-16 10:28] YeonjuSeo commented on #33
I fixed my alert as you told me and It worked perfectly! Thank you!

[2021-03-16 15:06] rishabhbhatia commented on #33
@YeonjuSeo I'm glad it worked out, have a good one!

[2021-05-21 15:50] manh74 opened #90 "I have problem, alert alway display again automaticly when I go to others screens"
Anyone can help me?

[2021-05-21 17:31] #90 closed

[2021-05-22 13:02] rishabhbhatia commented on #90
looks like you figured it out my friend, let us know if you still need help.

[2021-06-14 05:59] DeepakNagpalSynechron opened #91 "animated value"
Can you please add animated value from the props.

    this.springValue = new Animated.Value(props.value);

[2021-06-15 06:49] rishabhbhatia commented on #91
Sure can do, want to submit a PR Deepak? else I'll have a look at the weekend.

[2021-06-15 12:11] tiagocpeixoto opened #92 "'BackAndroid' is not exported from 'react-native-web/dist/index'"
When using this component with react-native-web, I get the following message:

[code]

My code:

[code]

Is it a config problem?

Thanks in advance.

[2021-06-15 18:07] rishabhbhatia commented on #92
Not a config issue, seems like `BackAndroid` needs to go to make it work with react native web since they're not exporting it.
If you can make this change Tiago feel free to send a PR my way, else I'll have a look at it around the weekend.

[2021-06-16 19:18] rishabhbhatia commented on #92
Tiago v1.5.0 is released, appreciate the PR contribution.

[2021-06-16 19:18] #92 closed

[2021-07-04 14:51] rishabhbhatia commented on #91
@DeepakNagpalSynechron `v1.5.1` is released to support this with `animatedValue` prop. Please try it out, closing the issue.

[2021-07-04 14:51] #91 closed

[2021-07-13 11:12] fredlemieux opened #95 "No testID to use for Automated tests"
Firstly, nice library, thanks for the effort.

The issue that I'm having is when writing E2E tests using cypress, I'm not able to click() the confirm/cancel buttons.  Setting a testID for both would allow people to access them in automated tests.

I'm happy to create a PR for this.

[2021-07-13 11:30] fredlemieux commented on #95
https://github.com/rishabhbhatia/react-native-awesome-alerts/pull/96

[2021-07-13 14:51] rishabhbhatia commented on #95
Hey @fredlemieux appreciate the PR. Added a small suggestion for it, please have a look.

[2021-07-15 19:27] fredlemieux commented on #95
Thanks, I'll have a look now.

[2021-07-21 18:43] grousseva opened #98 "Close alert after some time"
hi!

is there a way to hide/dismiss the alert after some time, for example like a duration?

thanks!!

[2021-07-23 10:46] rishabhbhatia commented on #98
Yes @grousseva should be straightforward, run a setTimeout for X duration and change the showAlert to false. If you still need help to figure it out, share an expo snack with me and I'll help you with it.

[2021-07-23 10:46] #98 closed

[2021-07-23 10:48] #95 closed

[2021-07-23 10:51] rishabhbhatia commented on #95
This change is released with `v1.5.2`.

[2021-07-29 12:13] chahalrohit opened #99 "show={boolean} not work"
not show again if closed by closeOnTouchOutside or closeOnHardwareBackPress.

[2021-07-31 13:40] rishabhbhatia commented on #99
@chahalrohit try setting the show flag to false onDismiss and then toggle it to true to make it work. If you're still unable to, make an expo snack and I'll try to help you there Rohit.

[2021-08-03 18:35] rishabhbhatia commented on #99
Hey Rohit, I'm gonna close this one, feel free to open it.

[2021-08-03 18:35] #99 closed

[2021-12-13 19:13] ucheNkadiCode opened #100 "Unable to change background color of Alert"
Hey @rishabhbhatia

I understand that the AwesomeAlerts background defaults to white, but I simply haven't been able to change the background color to darkgrey. I am using iOS with expo.

<AwesomeAlert
        show={showResetTimerModal}
        showProgress={false}
        title="Are you sure you want to do it?"
        alertContainerStyle={{ color: "purple", background: "yellow" }}
        conten

[2021-12-13 20:10] rishabhbhatia commented on #100
`contentContainerStyle={{ background: "pink", color: "green" }}`

@ucheNkadiCode Mate any chance you meant to pass **`backgroundColor`** instead? Try it out, see if that works for you.

[2021-12-15 09:31] AliMohammad93 commented on #69
I changed StatusBar opacity when alert is open and this solution worked for me

` <StatusBar
                backgroundColor={rgbaColor(0,0,0, showAlert === true ? 0.4 :0 )}
            />`

[2021-12-15 09:56] AliMohammad93 commented on #69
I changed StatusBar opacity when alert is open and this solution worked for me

 <View>
        <AwesomeAlert
            show={showAlert}
            customView={customView}
        />
        <StatusBar
            backgroundColor={rgbaColor(0,0,0,showAlert ? 0.4 : 0)}
        />
  </View>

[2021-12-15 09:57] AliMohammad93 commented on #69
I changed StatusBar opacity when alert is open and this solution worked for me

` <View>
        <AwesomeAlert
            show={showAlert}
            customView={customView}
        />
        <StatusBar
            backgroundColor={rgbaColor(0,0,0,showAlert ? 0.4 : 0)}
        />
  </View>`

[2021-12-16 07:26] #100 closed

[2021-12-17 14:57] hamashoool opened #101 "How to create new line in the message?"
It would be help full to know. the \n does not work.

[2021-12-18 20:28] rishabhbhatia commented on #101
@hamashoool Osman use the `customView` prop and pass multiple texts or whatever type of view you'd like to render, this is the right way. If you want to try and hack your way around look at this stack, see if it helps [stack](https://stackoverflow.com/questions/32469570/how-can-i-insert-a-line-break-into-a-text-component-in-react-native)

[2021-12-18 20:28] #101 closed

[2021-12-29 09:58] superbeom opened #102 "Doesn't work 'borderRadius' with 'backgroundColor' at 'titleStyle' (ios only)"
'borderRadius' doesn't apply to 'background'.
It's okay with 'borderStyle, borderWidth, borderColor'.

[code]

[2021-12-29 13:47] rishabhbhatia commented on #102
`titleStyle` is applied to a Text component , what you're trying to achieve with text component doesn't seem ideal. IMO the right way to get it done would be to wrap text in a view and pass it in `customView` prop.

[code]
Give it a try, see if it makes sense.

[2021-12-31 11:19] #102 closed

[2022-01-17 03:59] billnbell opened #103 "index.d.ts"
You probably need to add -

  cancelButtonTestID?: string;
  confirmButtonTestID?: string;

To AwesomeAlertProps. Interestingly, after I add them in IOS I don't see them using the Xcode Accessibility tool.

Can you add accessibilityLabel and TestID? Then I can get it to work on both devices as well.

But updating cancelButtonTestID, confirmButtonTestID and testing that is step 1.

[2022-01-17 03:59] billnbell commented on #81
status?

[2022-01-17 12:59] rishabhbhatia commented on #103
@billnbell Hey William, IMO testID should work just fine. Feel free to dig deeper and submit a PR. I'll also have a look when I'm able to spare some time.

[2022-01-17 13:01] rishabhbhatia commented on #81
@billnbell try the workaround by Eric. Feel free to dig deeper and submit a PR.

[2022-01-20 23:22] billnbell commented on #103
TestID does not work on Android devices.

[2022-02-01 20:04] rishabhbhatia commented on #103
Hey William, I'm confused you're saying testIDs don't show in XCode or they don't show in android? What testing tool are you using? Just had someone run Appium on a React Native app, they could find the testIDs.

Sorry, works been rough. Can you share some specific details so we can resolve this one?

[2022-03-02 01:26] mcooling opened #105 "Multiple Alerts within the same screen"
Hi there,

This is more of a request for help than a bug. I'm new to RN and this is my first attempt using this. Basically, I'm trying to work out how to have multiple alerts available within a screen, where there are multiple buttons.

I can see the video example does it. I just can't work it out in code. If you could provide a code snippet, e.g. button 1 Alert, button 2 Alert, that would be real

[2022-03-02 18:26] rishabhbhatia commented on #105
@mcooling Try this out [Examples](https://github.com/rishabhbhatia/react-native-awesome-alerts/blob/v1.1.0/examples/App.js), hope it helps.

[2022-03-03 02:54] secdep[bot] opened #107 "项目引用了shell-quote等637个开源组件，存在4个漏洞，建议升级"
大佬，看你这个项目调用了shell-quote等637个开源组件，存在4个安全漏洞，建议你升级下。
[code]
另外3个漏洞 ，信息有点多我就不贴了，你自己看下完整报告：https://www.mfsec.cn/jr?p=ac6d89
你对这个issues有任何疑问可以回复我，我能看见哈。

[2022-03-03 13:50] #107 closed

[2022-03-05 20:12] #105 closed

[2022-04-20 17:57] hlspablo commented on #62
@rishabhbhatia, seems that if the component reload multiple times before de show state change to false like in async operations with Apollo Client for example ( my case ), multiple modals appears stacked but each time smaller, so after state changes to false again in onComplete callback, only the first is closed, and although  the current state is false, the alert never gets closed, this problem s

[2022-04-20 19:57] hlspablo commented on #62
for those who are having issues, I managed to solve using
`
show={modal.isOpen}
modalProps={{
    visible: modal.isOpen,
 }}`
 where modal.isOpen come from a global state management like Mobx, this worked perfectly.
to hide and show, just control the modal.isOpen from the global state

[2022-08-23 04:30] kieunam123 commented on #77
any examples?

[2022-08-23 14:48] rishabhbhatia commented on #77
@kieunam123 Just pass the JSX you would like to render. For example see below snippet.
`customView={<ScrollView bounce={false}><View>...</View></ScrollView>}
`

[2022-11-29 17:59] Hamdi-FAKHFAKH opened #113 "erreur in hideAlert function"
undefined is not an object _this.hideAlert

[2022-11-29 18:01] #113 closed, assigned to nobody